*{
    color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box ;

}

nav{
    display: flex;
    justify-content: center;
    background-color: white;
}

.wrapper {
    margin: 2rem;
}

button, select, input{
    background-color: #bb86fc
}

#Grid {
    display: inline-grid;
    grid-template-columns: repeat(25, 40px);
    grid-template-rows: repeat(10, 40px);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    justify-content: center;
    align-content: center;
    background-color: #252525;
    border: #252525 10px;
    height: 70vh;
    width: 100vw;
   
}
.gridElement {
    background-color: white;
}

.wallEditing:hover {
    background-color: black;

}

.visited {
    animation-name: coloringAnimation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes coloringAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgb(232, 245, 51);
        border-radius: 100%;
    }
    25% {
        transform: scale(0.7);
        border-radius: 0%;
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
        background-color: rgb(9, 160, 224);
    }
}


