*{
    color: white
}

nav{
    display: flex;
    justify-content: center;
    background-color: #252525;
}

.wrapper {
    margin: 2rem;
}

button, select, input{
    background-color: #bb86fc
}

.Grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
}